# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.hex
*.elf

# vim, tags
.*.swp
cscope.files
cscope.output
tags

# ESP-IDF
build/
dependencies.lock
managed_components/
sdkconfig
.cache/
.DS_Store
